{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {% for shop in shops %}
        <div class="post-preview">
            <a href="{{ path('shop_show', { 'name': shop.name }) }}">
                <h2 class="post-title">
                    {{ shop.name }}
                </h2>
                <h3 class="post-subtitle">
                    {{ shop.text }}
                </h3>
            </a>
            <span>
                {% if is_granted("edit", shop) %}
                <a href="{{ path('shop_edit', { 'id': shop.id }) }}" class="btn btn-default">Upravit</a>
                {% endif %}
                {% if is_granted("delete", shop) %}
                <a href="{{ path('shop_delete', { 'id': shop.id }) }}" class="btn btn-default">Smazat</a>
                {% endif %}
            </span>                    
        </div>
        <hr>
        {% endfor %}
        <!-- Pager -->
            {% block paginator %}
                {% if maxPages > 1 %}
                    <ul class="pager">
                        {% if currPage != 1 %}
                                <li class="previous">
                                    <a href="{{ path('shop_index', {page: currPage-1}) }}">&larr; Předchozí</a>
                                </li>
                        {% endif %}
                        {% if currPage != maxPages %}
                                <li class="next">
                                    <a href="{{ path('shop_index', {page: currPage+1}) }}">Další &rarr;</a>
                                </li>
                        {% endif %}
                    </ul>
                {% endif %}
            {% endblock %}
    </div>
</div>
{% endblock %}
