{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <h2>{{ shop.name }}</h2>
            {% if is_granted("edit", shop) %}
            <a href="{{ path('shop_edit', { 'id': shop.id }) }}" class="btn btn-default">Upravit</a>
            {% endif %}
            {% if is_granted("delete", shop) %}
            <a href="{{ path('shop_delete', { 'id': shop.id }) }}" class="btn btn-default">Smazat</a>
            {% endif %}

            <p>
                {{ shop.text }}
            </p>
        {% if tarifs|length > 1 %}
            <h2>Tarify</h2>
            <ul class="list-group">
                {% for tarif in tarifs %}
                    <a href="{{ path('tarif_show', { 'id': tarif.id }) }}"><li class="btn btn-default">{{ tarif.tarif }}</li></a>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
{% endblock %}
