<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block title %}Průvodce e-commerce{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/slider.css') }}" rel="stylesheet">
            <link href="{{ asset('css/bootstrap/css/bootstrap.css') }}" rel="stylesheet">
            <!-- Theme CSS -->
            <link href="{{ asset('css/clean-blog.css') }}" rel="stylesheet">
            <!-- Custom Fonts -->
            <link href="{{ asset('css/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
            <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
            <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% include "default/menu.html.twig"%}
        <div class="container">
        {% block body %}
        
        {% endblock %}
        </div>
        {% include "footer.html.twig"%}
        {% block javascripts %}
            <script src="https://getbootstrap.com/dist/js/bootstrap.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <!-- jQuery -->
            <script src="{{ asset('js/jquery/jquery.min.js') }}"></script>

            <!-- Bootstrap Core JavaScript -->
            <script src="{{ asset('js/bootstrap/js/bootstrap.min.js') }}"></script>

            <!-- Contact Form JavaScript -->
            <script src="{{ asset('js/jqBootstrapValidation.js') }}"></script>
            <!-- Theme JavaScript -->
            <script src="{{ asset('js/clean-blog.js') }}"></script>
        {% endblock %}
    </body>
</html>
