{% extends 'base.html.twig' %}
{% block body %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-preview">
            <h2 class="post-title">
                Průvodce podnikáním v e-commerce
            </h2>
            <h3 class="post-subtitle">
                Začínáte podnikat na internetu a nevíte si rady? Nebojte! Od toho je tu nový průvodce e-commerce, který Vám ukáže vše podstatné!
            </h3>
        </div>
        <hr>
        <!-- Pager -->
        <ul class="pager">
            <li class="next">
                <a href="{{ path('choose') }}">Vyber řešení &rarr;</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}