    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="{{ path('homepage') }}">Průvodce e-commerce</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="{{ path('homepage') }}">Domů</a></li>
                  <li><a href="{{ path('choose') }}">Vybrat řešení</a></li>
                  {% if is_granted("show") %}
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Eshopová řešení<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="{{ path('shop_index') }}">Všechna řešení</a></li>
                        <li><a href="{{ path('tarif_index') }}">Všechny tarify</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ path('shop_new') }}">Nové řešení</a></li>
                        <li><a href="{{ path('tarif_new') }}">Nový tarif</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Služby<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="{{ path('service_index') }}">Všechny</a></li>
                        <li><a href="{{ path('service_new') }}">Nová</a></li>
                      </ul>
                    </li>
                    <li><a href="{{ path('user_index') }}">Uživatelé</a></li>
                  {% else %}
                    <li><a href="{{ path('shop_index') }}">Eshopová řešení</a></li>
                    <li><a href="{{ path('service_index') }}">Služby</a></li>
                  {% endif %}
                  {% if app.user %}
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ app.user.name }}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="{{ path('logout') }}">Odhlásit</a></li>
                    </ul>
                  </li>
                  {% else %}
                  <li><a href="{{ path('login') }}">Přihlásit</a></li>
                  {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <header class="intro-header" style="background-image: url('{{ asset('images/home-bg.jpg') }}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Průvodce e-commerce</h1>
                        <hr class="small">
                        <span class="subheading">Tvůj průvodce na cestě za úspěchem</span>
                    </div>
                </div>
            </div>
        </div>
    </header>