{% extends 'base.html.twig' %}
{% block body %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {% set i = 1 %}
        {% for shop in shops %}
            <div class="post-preview">
                <a href="{{ path('shop_show', { 'name': shop.shop.name }) }}">
                <h2>{{ i }}. {{ shop.shop.name }} 
                    {% if shop.tarif.tarif|length > 1 %}
                    v tarifu {{ shop.tarif.tarif }}
                    {% endif %}
                </h2>
                <h3 class="post-subtitle">
                    {{ shop.shop.text }}
                </h3>
                </a>
                <span>
                    {% if is_granted("edit", shop) %}
                    <a href="{{ path('shop_edit', { 'id': shop.shop.id }) }}" class="btn btn-default">Upravit</a>
                    {% endif %}
                    {% if is_granted("delete", shop) %}
                    <a href="{{ path('shop_delete', { 'id': shop.shop.id }) }}" class="btn btn-default">Smazat</a>
                    {% endif %}
                </span>                    
                <hr>
            </div>
        {% set i = i+1 %}
        {% endfor %}
    </div>
</div>
{% endblock %}